@include render($js);

// @include render-svg()

.css {
  @include render($css);
}

.clip-path-animation {
  position: relative;
  width: 800px;
  height: 600px;
  border: 1px solid #000000;

  & > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 800px;
    height: 600px;
    transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
}

canvas {
  border: 1px solid #000000;
}

// .svg {
//   position: relative;
//   width: 800px;
//   height: 600px;
//   margin-bottom: 10px;
//   border: 1px solid #000000;

//   & > * {
//     position: absolute;
//     top: 0;
//     left: 0;
//     transition: all .7s cubic-bezier(0.785, 0.135, 0.15, 0.86);
//   }
// }
