$void: polygon(50% 50%, 50% 50%, 50% 50%);

$css: polygon(30.79% 35.88%, 27.34% 30.77%, 29.2% 36.18%),
  polygon(37.94% 33.22%, 34.64% 30.87%, 35.65% 38.08%),
  polygon(33.28% 36.37%, 30.65% 30.13%, 30.79% 35.88%),
  polygon(35.65% 38.08%, 34.64% 30.87%, 33.28% 36.37%),
  polygon(34.64% 30.87%, 30.65% 30.13%, 33.28% 36.37%),
  polygon(29.2% 36.18%, 27.34% 30.77%, 27.79% 37.17%),
  polygon(30.65% 30.13%, 27.34% 30.77%, 30.79% 35.88%),
  polygon(27.79% 37.17%, 24.45% 32.7%, 26.76% 38.97%),
  polygon(22.41% 35.9%, 21.64% 40.35%, 26.36% 41.63%),
  polygon(21.64% 52.22%, 26.36% 50.88%, 26.36% 41.63%),
  polygon(21.64% 40.35%, 21.64% 52.22%, 26.36% 41.63%),
  polygon(26.76% 38.97%, 22.41% 35.9%, 26.36% 41.63%),
  polygon(24.45% 32.7%, 22.41% 35.9%, 26.76% 38.97%),
  polygon(27.34% 30.77%, 24.45% 32.7%, 27.79% 37.17%),
  polygon(34.73% 61.62%, 30.79% 56.63%, 30.71% 62.43%),
  polygon(33.23% 56.18%, 30.79% 56.63%, 34.73% 61.62%),
  polygon(30.79% 56.63%, 29.21% 56.32%, 30.71% 62.43%),
  polygon(22.44% 56.72%, 26.36% 50.88%, 21.64% 52.22%),
  polygon(37.94% 59.32%, 33.23% 56.18%, 34.73% 61.62%),
  polygon(30.71% 62.43%, 29.21% 56.32%, 27.4% 61.8%),
  polygon(35.69% 54.43%, 33.23% 56.18%, 37.94% 59.32%),
  polygon(27.8% 55.3%, 26.76% 53.53%, 24.5% 59.88%),
  polygon(24.5% 59.88%, 26.76% 53.53%, 22.44% 56.72%),
  polygon(27.4% 61.8%, 27.8% 55.3%, 24.5% 59.88%),
  polygon(26.76% 53.53%, 26.36% 50.88%, 22.44% 56.72%),
  polygon(29.21% 56.32%, 27.8% 55.3%, 27.4% 61.8%),
  polygon(46.86% 36.42%, 43.15% 32.55%, 46% 37.57%),
  polygon(45.69% 30.57%, 43.15% 32.55%, 46.86% 36.42%),
  polygon(45.66% 39.23%, 40.94% 39.38%, 46.03% 40.87%),
  polygon(43.15% 32.55%, 41.53% 35.55%, 46% 37.57%),
  polygon(41.53% 35.55%, 40.94% 39.38%, 45.66% 39.23%),
  polygon(46.03% 40.87%, 43.04% 45.52%, 47.09% 42.02%),
  polygon(43.04% 45.52%, 45.28% 47.23%, 47.09% 42.02%),
  polygon(40.94% 39.38%, 41.51% 42.98%, 46.03% 40.87%),
  polygon(41.51% 42.98%, 43.04% 45.52%, 46.03% 40.87%),
  polygon(46% 37.57%, 41.53% 35.55%, 45.66% 39.23%),
  polygon(55.51% 37.87%, 53.36% 30.4%, 52.36% 36.02%),
  polygon(53.48% 53%, 58.51% 52.95%, 53.08% 51.25%),
  polygon(57.58% 32.8%, 53.36% 30.4%, 55.51% 37.87%),
  polygon(47.09% 42.02%, 45.28% 47.23%, 48.76% 42.88%),
  polygon(53.36% 30.4%, 49.01% 29.85%, 52.36% 36.02%),
  polygon(49.01% 29.85%, 45.69% 30.57%, 48.06% 35.73%),
  polygon(53.25% 54.37%, 58.51% 52.95%, 53.48% 53%),
  polygon(48.06% 35.73%, 45.69% 30.57%, 46.86% 36.42%),
  polygon(52.36% 36.02%, 49.01% 29.85%, 49.43% 35.52%),
  polygon(49.43% 35.52%, 49.01% 29.85%, 48.06% 35.73%),
  polygon(49.33% 56.68%, 49.43% 62.35%, 51.26% 56.38%),
  polygon(49.43% 62.35%, 53.03% 61.75%, 51.26% 56.38%),
  polygon(51.26% 56.38%, 53.03% 61.75%, 52.54% 55.57%),
  polygon(53.03% 61.75%, 55.9% 59.98%, 52.54% 55.57%),
  polygon(44.56% 61.38%, 49.43% 62.35%, 49.33% 56.68%),
  polygon(52.54% 55.57%, 55.9% 59.98%, 53.25% 54.37%),
  polygon(40.11% 57.98%, 44.56% 61.38%, 46% 55.83%),
  polygon(42.76% 53.37%, 40.11% 57.98%, 46% 55.83%),
  polygon(45.28% 47.23%, 47.91% 48.35%, 48.76% 42.88%),
  polygon(46% 55.83%, 44.56% 61.38%, 49.33% 56.68%),
  polygon(51% 43.62%, 51.94% 50.08%, 56.64% 46.97%),
  polygon(50.17% 49.2%, 51.94% 50.08%, 51% 43.62%),
  polygon(47.91% 48.35%, 50.17% 49.2%, 51% 43.62%),
  polygon(48.76% 42.88%, 47.91% 48.35%, 51% 43.62%),
  polygon(55.9% 59.98%, 57.83% 57.03%, 53.25% 54.37%),
  polygon(57.83% 57.03%, 58.51% 52.95%, 53.25% 54.37%),
  polygon(53.08% 51.25%, 58.51% 52.95%, 56.64% 46.97%),
  polygon(51.94% 50.08%, 53.08% 51.25%, 56.64% 46.97%),
  polygon(65.95% 47.23%, 68.59% 48.35%, 69.45% 42.88%),
  polygon(63.73% 45.52%, 65.95% 47.23%, 67.76% 42.02%),
  polygon(66.71% 40.87%, 63.73% 45.52%, 67.76% 42.02%),
  polygon(62.19% 42.98%, 63.73% 45.52%, 66.71% 40.87%),
  polygon(67.76% 42.02%, 65.95% 47.23%, 69.45% 42.88%),
  polygon(66.35% 39.23%, 62.19% 42.98%, 66.71% 40.87%),
  polygon(66.67% 37.57%, 61.61% 39.38%, 66.35% 39.23%),
  polygon(69.45% 42.88%, 68.59% 48.35%, 71.68% 43.62%),
  polygon(62.2% 35.55%, 61.61% 39.38%, 66.67% 37.57%),
  polygon(67.54% 36.42%, 62.2% 35.55%, 66.67% 37.57%),
  polygon(61.61% 39.38%, 62.19% 42.98%, 66.35% 39.23%),
  polygon(73.75% 51.25%, 74.15% 53%, 79.19% 52.95%),
  polygon(74.15% 53%, 73.93% 54.37%, 79.19% 52.95%),
  polygon(68.59% 48.35%, 70.85% 49.2%, 71.68% 43.62%),
  polygon(77.33% 46.97%, 73.75% 51.25%, 79.19% 52.95%),
  polygon(73.93% 54.37%, 78.5% 57.03%, 79.19% 52.95%),
  polygon(71.68% 43.62%, 70.85% 49.2%, 77.33% 46.97%),
  polygon(70.85% 49.2%, 72.61% 50.08%, 77.33% 46.97%),
  polygon(72.61% 50.08%, 73.75% 51.25%, 77.33% 46.97%),
  polygon(73.05% 36.02%, 69.7% 29.85%, 70.11% 35.52%),
  polygon(73.7% 61.75%, 76.59% 59.98%, 73.21% 55.57%),
  polygon(70.11% 62.35%, 73.7% 61.75%, 71.94% 56.38%),
  polygon(71.94% 56.38%, 73.7% 61.75%, 73.21% 55.57%),
  polygon(73.21% 55.57%, 76.59% 59.98%, 73.93% 54.37%),
  polygon(65.24% 61.38%, 70.11% 62.35%, 70.01% 56.68%),
  polygon(66.67% 55.83%, 65.24% 61.38%, 70.01% 56.68%),
  polygon(60.79% 57.98%, 65.24% 61.38%, 66.67% 55.83%),
  polygon(76.59% 59.98%, 78.5% 57.03%, 73.93% 54.37%),
  polygon(63.83% 32.55%, 62.2% 35.55%, 67.54% 36.42%),
  polygon(70.01% 56.68%, 70.11% 62.35%, 71.94% 56.38%),
  polygon(70.11% 35.52%, 66.37% 30.57%, 68.75% 35.73%),
  polygon(78.26% 32.8%, 74.05% 30.4%, 76.19% 37.87%),
  polygon(66.37% 30.57%, 63.83% 32.55%, 68.75% 35.73%),
  polygon(68.75% 35.73%, 63.83% 32.55%, 67.54% 36.42%),
  polygon(69.7% 29.85%, 66.37% 30.57%, 70.11% 35.52%),
  polygon(63.45% 53.37%, 60.79% 57.98%, 66.67% 55.83%),
  polygon(76.19% 37.87%, 74.05% 30.4%, 73.05% 36.02%),
  polygon(74.05% 30.4%, 69.7% 29.85%, 73.05% 36.02%);

$js: polygon(43.08% 60.33%, 45.19% 56.93%, 38.85% 54.58%),
  polygon(37.55% 55.52%, 43.08% 60.33%, 38.85% 54.58%),
  polygon(38.85% 54.58%, 45.19% 56.93%, 39.71% 52.83%),
  polygon(35.9% 55.78%, 36.65% 62.98%, 37.55% 55.52%),
  polygon(36.65% 62.98%, 40.1% 62.33%, 37.55% 55.52%),
  polygon(28.29% 59.53%, 32.06% 62.13%, 31.06% 53.43%),
  polygon(31.06% 53.43%, 32.06% 62.13%, 33.58% 55.28%),
  polygon(33.58% 55.28%, 32.06% 62.13%, 35.9% 55.78%),
  polygon(32.06% 62.13%, 36.65% 62.98%, 35.9% 55.78%),
  polygon(40.1% 62.33%, 43.08% 60.33%, 37.55% 55.52%),
  polygon(45.99% 52.03%, 45.99% 28.23%, 40.03% 50.08%),
  polygon(45.19% 56.93%, 45.99% 52.03%, 39.71% 52.83%),
  polygon(40.03% 50.08%, 45.99% 28.23%, 40.03% 28.23%),
  polygon(39.71% 52.83%, 45.99% 52.03%, 40.03% 50.08%),
  polygon(52.88% 44.67%, 55.21% 46.67%, 60.12% 41.02%),
  polygon(58.36% 40.03%, 52.88% 44.67%, 60.12% 41.02%),
  polygon(58.4% 48.13%, 61.16% 49.23%, 66.76% 44.12%),
  polygon(59.86% 55.78%, 64.05% 62.28%, 61.93% 55.48%),
  polygon(60.05% 62.93%, 64.05% 62.28%, 59.86% 55.78%),
  polygon(64.05% 62.28%, 67.35% 60.33%, 61.93% 55.48%),
  polygon(69.06% 46.57%, 61.16% 49.23%, 70.14% 49.42%),
  polygon(61.93% 55.48%, 67.35% 60.33%, 63.25% 54.72%),
  polygon(56.5% 54.97%, 57.3% 62.73%, 59.86% 55.78%),
  polygon(53.19% 52.38%, 52.27% 60.57%, 56.5% 54.97%),
  polygon(49.85% 58.23%, 52.27% 60.57%, 53.19% 52.38%),
  polygon(54.73% 62.02%, 57.3% 62.73%, 56.5% 54.97%),
  polygon(67.35% 60.33%, 69.58% 57.12%, 63.25% 54.72%),
  polygon(52.27% 60.57%, 54.73% 62.02%, 56.5% 54.97%),
  polygon(57.3% 62.73%, 60.05% 62.93%, 59.86% 55.78%),
  polygon(63.98% 53.68%, 69.58% 57.12%, 70.4% 52.58%),
  polygon(63.25% 54.72%, 69.58% 57.12%, 63.98% 53.68%),
  polygon(70.14% 49.42%, 63.9% 51.32%, 70.4% 52.58%),
  polygon(63.9% 51.32%, 64.17% 52.63%, 70.4% 52.58%),
  polygon(64.17% 52.63%, 63.98% 53.68%, 70.4% 52.58%),
  polygon(62.94% 50.23%, 63.9% 51.32%, 70.14% 49.42%),
  polygon(61.16% 49.23%, 62.94% 50.23%, 70.14% 49.42%),
  polygon(55.21% 46.67%, 58.4% 48.13%, 62.79% 42.08%),
  polygon(62.79% 42.08%, 58.4% 48.13%, 66.76% 44.12%),
  polygon(60.12% 41.02%, 55.21% 46.67%, 62.79% 42.08%),
  polygon(66.76% 44.12%, 61.16% 49.23%, 69.06% 46.57%),
  polygon(64.84% 28.43%, 60.39% 27.88%, 63.38% 35.53%),
  polygon(69.39% 31.08%, 64.84% 28.43%, 66.72% 37.48%),
  polygon(51.63% 33.82%, 50.94% 38.03%, 57.13% 37.83%),
  polygon(58% 35.77%, 51.63% 33.82%, 57.13% 37.83%),
  polygon(57.41% 39.02%, 51.43% 41.88%, 58.36% 40.03%),
  polygon(50.94% 38.03%, 51.43% 41.88%, 57.41% 39.02%),
  polygon(53.59% 30.62%, 51.63% 33.82%, 58% 35.77%),
  polygon(57.13% 37.83%, 50.94% 38.03%, 57.41% 39.02%),
  polygon(51.43% 41.88%, 52.88% 44.67%, 58.36% 40.03%),
  polygon(63.38% 35.53%, 60.39% 27.88%, 60.31% 35.13%),
  polygon(60.31% 35.13%, 53.59% 30.62%, 58% 35.77%),
  polygon(66.72% 37.48%, 64.84% 28.43%, 63.38% 35.53%),
  polygon(56.59% 28.58%, 53.59% 30.62%, 60.31% 35.13%),
  polygon(60.39% 27.88%, 56.59% 28.58%, 60.31% 35.13%);
