@mixin render($obj) {
  @for $i from 1 through 103 {
    .clip-path-animation .t#{$i} {
      transition-delay: random(500) + ms;
      background-color: rgba(#0FF, random(10)/10);
      @if length($obj) >= $i {
        clip-path: nth($obj, $i);
      }

      @else {
        clip-path: $void;
      }
    }
  }
}

// @mixin render-svg() {
//   @for $i from 1 to 30 {
//     .g#{$i} {
//       animation-delay: random(500) + ms;
//       fill: rgba(#0F2, random(10)/10)
//     }
//   }
// }
