@mixin render($obj) {
  @for $i from 1 through 103 {
    .clip-path-animation .t#{$i} {
      transition-delay: random(500) + ms;
      background-color: rgba(#003366, random(10)/10);
      @if length($obj) >= $i {
        clip-path: nth($obj, $i);
      }

      @else {
        clip-path: $void;
      }
    }
  }
}

@mixin render-svg-js() {
  @for $i from 1 to 55 {
    .js#{$i} {
      fill: rgba(#008080, random(10)/10)
    }
  }
}

@mixin render-svg-css() {
  @for $i from 1 to 103 {
    .css#{$i} {
      fill: rgba(#008080, random(15)/10)
    }
  }
}
